@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@import model.User
@(user: User)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Welcome to Play") {

    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.min.js"></script>
    <script src="https://fb.me/JSXTransformer-0.13.3.js"></script>

    <script src=https://cdnjs.cloudflare.com/ajax/libs/react-bootstrap/0.31.3/react-bootstrap.min.js></script>
    <script type="text/jsx" src="@routes.Assets.versioned("javascripts/nameWindow.jsx")"></script>

    <div>Hello @user.name</div>
    <div id="container">
            <!-- This element's contents will be replaced with your component. -->
    </div>

}
